::scrollbar {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  color: #e6e7e8;
  background-color: #e6e7e8;
}

picture img {
  height: 700px;
}

@media (max-width: 768px) {
  picture img {
    max-height: unset;
    width: 80vw;
  }
}

h1 {
  width: 100%;
  margin: 0;
  font-family: 'GT America', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 7px #e6e7e8;
  position: absolute;
  top: -webkit-calc(50vh - 100px);
  top: -moz-calc(50vh - 100px);
  top: calc(50vh - 100px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 350px) {
  h1 {
    font-size: 25px;
  }
}

h1.fixed {
  position: fixed;
  top: 10px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main .background {
  width: 100%;
  height: 100%;
  background-image: url("fundo.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: repeat-y;
  -webkit-filter: blur(10px) grayscale(0.6);
  filter: blur(10px) grayscale(0.6);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.main .main_wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding-top: -webkit-calc(50vh - 100px);
  padding-top: -moz-calc(50vh - 100px);
  padding-top: calc(50vh - 100px);
}

section {
  width: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 30px;
  margin-bottom: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 550px) {
  section {
    padding: 20px;
    margin-bottom: 300px;
  }
}

section h2 {
  margin: 300px auto 400px;
}

@media (max-width: 550px) {
  section h2 {
    margin: 200px auto 300px;
  }
}

section h3 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: 200;
  margin: 0 auto 50px;
}

@media (max-width: 768px) {
  section h3 {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  section h3 {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  section h3 {
    margin: 0 auto 30px;
  }
}

section p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  text-shadow: 0 0 7px #e6e7e8;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 600px 0;
}

section img.margin-bottom {
  margin-bottom: 400px;
}

section.start {
  padding-top: 90vh;
}

section.start img.logo {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

section.start img {
  position: relative;
  z-index: 1;
}

section.available h2 {
  font-family: 'Scto Grotesk A', Helvetica, sans-serif;
  font-size: 160px;
  font-weight: 300;
  text-shadow: 0 0 32px #e6e7e8;
}

@media (min-width: 768px) and (max-width: 1024px) {
  section.available h2 {
    font-size: 120px;
    text-shadow: 0 0 24px #e6e7e8;
  }
}

@media (max-width: 768px) {
  section.available h2 {
    font-size: 60px;
  }
}

@media (max-width: 400px) {
  section.available h2 {
    font-size: 55px;
  }
}

@media (max-width: 350px) {
  section.available h2 {
    font-size: 45px;
    text-shadow: 0 0 9px #e6e7e8;
  }
}

section.flexible h2 {
  width: 700px;
  height: 200px;
  background-image: url("flexible.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center;
  -webkit-filter: drop-shadow(0 0 20px #e6e7e8);
  filter: drop-shadow(0 0 20px #e6e7e8);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 768px) {
  section.flexible h2 {
    width: 90%;
  }
}

@media (max-width: 550px) {
  section.flexible h2 {
    width: 100%;
  }
}

section.versatile h2 {
  text-shadow: 0 0 47px #e6e7e8;
  font-family: 'Vivaldi', Helvetica, sans-serif;
  font-size: 235px;
  font-weight: 300;
}

@media (min-width: 768px) and (max-width: 1024px) {
  section.versatile h2 {
    font-size: 165px;
    text-shadow: 0 0 33px #e6e7e8;
  }
}

@media (max-width: 768px) {
  section.versatile h2 {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
    font-size: 105px;
  }
}

@media (max-width: 400px) {
  section.versatile h2 {
    font-size: 100px;
  }
}

@media (max-width: 350px) {
  section.versatile h2 {
    font-size: 90px;
    text-shadow: 0 0 18px #e6e7e8;
  }
}

section.versatile h2 span {
  letter-spacing: -20px;
}

section.final {
  width: 500px;
  margin: 0 auto;
  padding-top: 300px;
  padding-bottom: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 550px) {
  section.final {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 300px 0 0;
    margin: 0 auto;
  }
}

section.final h4 {
  font-size: 22px;
  font-weight: 300;
  -webkit-filter: drop-shadow(0 0 20px #e6e7e8);
  filter: drop-shadow(0 0 20px #e6e7e8);
  margin-bottom: -5px;
}

section.final .available_font {
  font-family: 'Scto Grotesk A', Helvetica, sans-serif;
}

section.final .flexible_font {
  margin: 15px 0 -15px;
  width: 130px;
  height: 30px;
  background-image: url("flexible-small.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center;
}

section.final .versatile_font {
  font-family: 'Vivaldi', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 10px;
}

/* .Loop {
	height: 100%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

	background: rgb(2,0,36);
	background: linear-gradient(281deg, rgba(2,0,36,1) 0%, rgba(63,63,144,1) 27%, rgba(0,212,255,1) 100%);
} */
